<header class="main-header">
  <div class="logo">
    <span class="brand">Nutri</span><span class="highlight">Catalog</span>
  </div>
  
  <div class="header-title">
    <h1>Κατάλογος Τροφίμων & Θερμίδων</h1>
  </div>

 
  <nav>
  <a routerLink="/" 
     class="nav-link" 
     routerLinkActive="active-link" 
     [routerLinkActiveOptions]="{exact: true}">Αρχική</a>
     
  <a routerLink="/catalog" 
     class="nav-link" 
     routerLinkActive="active-link">Πίνακας</a>

     
  <a routerLink="/contact"
    class="nav-link" 
     routerLinkActive="active-link">Επικοινωνία</a>
</nav>
</header>